<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <meta charset="utf-8" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
  </head>
  <body>
  	<div class="welcome">
  		
  		<p class="wrap" style="font-family:DaunPenh">欢迎来到帆星的博客留言板！</p>
  	</div>
  	<div class="wrap">
  		<form action="/users/liuyan" method="post" role="form" style="width:300px">
		<h3 class="input-group" style="font: 30px/30px '微软雅黑';">您的留言</h3>
		<br />
		<div class="input-group">
			<span class="label label-success" >标题：</span>
			<input type="text" name="biaoti" class="form-control" style="width:800px"/>
		</div>
		<br />
		<div class="input-group">
			<span class='label label-success'>内容：</span>
			<textarea name="con"  cols="30" rows="10" class="form-control" style="width:800px"></textarea>
		</div>
		<br />
		<input type="submit" value="发表" class="btn btn-danger btn-block" style='margin-left:230px'/>
	</form>
	<div class="bigbox">
		<h3 class="liu">     留 &nbsp;&nbsp;&nbsp;言&nbsp;&nbsp;&nbsp;板   </h3>
		<% item.forEach(function(cont,index){  %>
		
			<div class="box">
				<p class="flor">第<%- index+1 %>楼</p>
				<dl>
					<dt><span>标题：</span><%- cont.biaoti %></dt>
					<dd><%- cont.con %></dd>
				</dl>
			</div>
		<% }) %>
	</div>
  	</div>
	
	</body>
</html>